label[for="edit-edux"] {
	width: 100%;
	text-align: center;
}

.settings-form-title {
	background-color: #222;
	background-image: url("../logo.svg");
	background-size: auto 70%;
	background-position: calc(50% - 100px) center;
	background-repeat: no-repeat;
	padding: 2rem 2rem 2rem 5rem;
	color: #fff;
	margin: 0 auto;
}